#RewriteEngine On
#RewriteCond %{REQUEST_FILENAME} .*\.(jpg|jpeg|gif|png) [NC]
#RewriteCond %{HTTP_REFERER} !localhost [NC]
#RewriteRule .* http://www.zixue.it/static/image/common/zixuelogo.png

ExpiresByType image/jpg